@import "_mixins.scss";

.sign-in {
  md-card{
    min-width: 320px;
    max-width: 480px;
    width: 100%;
  }

  .__APP_NAME_CAMEL_CASED__-logo {
    width: 300px;
  }

  sign-in-form{
    width: 100%;
  }
}
