md-content.sign-in(flex, layout, layout-align="center center")
  md-card.md-padding(layout="column", layout-align="center center")
    img.logo.__APP_NAME_CAMEL_CASED__-logo(src="img/__APP_NAME_CAMEL_CASED__-logo-full.png")
    sign-in-form