bower_components
builds
cordova/www/**
docs
node_modules
*.sublime-project
*.sublime-workspace
scripts/selenium-server-standalone-2.39.0.jar
scripts/phantomjs
scripts/chromedriver
.idea/
.nuget/
obj
angular-starter.csproj
angular-starter.csproj.user
angular-starter.sln
angular-starter.suo
angular-starter.v12.suo
**/Thumbs.db