bower_components
builds
cordova/www/**
docs
node_modules
*.sublime-project
*.sublime-workspace
scripts/selenium-server-standalone-2.39.0.jar
scripts/phantomjs
scripts/chromedriver
.idea/
.nuget/
obj
csnet-client.csproj
csnet-client.csproj.user
csnet-client.sln
csnet-client.suo
csnet-client.v12.suo
**/Thumbs.db