md-content.accounts(flex, layout, layout-align="center center")
  md-card(flex, layout="row", layout-align="center center")
    md-content.md-padding(flex, layout="column", layout-align="center center")
      img.logo.__APP_NAME_CAMEL_CASED__-logo(src="img/__APP_NAME_CAMEL_CASED__-logo-full.png")
      ui-view(flex, layout)
