@import "_mixins.scss";

.accounts {
  md-card{
    min-width: 320px;
    max-width: 480px;
  }

  .__APP_NAME_CAMEL_CASED__-logo {
    width: 300px;
  }

  ui-view{
    width: 100%;
    height: 400px;
  }
}
