#coreStateSideNav(layout="column" flex)
  md-button(ui-sref-active="state-active", ui-sref="authenticated.core.component.componentList")
    i.fa.fa-lg.fa-file-text-o
    span.button-text Component

  md-button.sub-menu-container(ng-click="coreStateSideNavCtrl.isAdminNavCollapsed = !coreStateSideNavCtrl.isAdminNavCollapsed")
    div(layout="row")
      i.fa.fa-lg.fa-cog
      span.button-text(flex) Administration
      i.fa.fa-angle-down.fa-lg

    .administration-nav.sub-menu(collapse="coreStateSideNavCtrl.isAdminNavCollapsed")
      div(layout="column")
        md-button.sub-menu-item(ui-sref-active="state-active", ui-sref="authenticated.core.admin.component.componentList") Sub Menu Item
        
  div(ui-view="activityNavigation", layout="column", flex)
