md-button(ui-sref-active="state-active", ui-sref="authenticated.__APP_NAME_CAMEL_CASED__.config.somethings.somethingsList") Something

md-button(ng-click="configStateSideNavCtrl.isHeaderNavCollapsed = !configStateSideNavCtrl.isHeaderNavCollapsed")
  div(layout="row")
    span(flex) Header
    i.fa.fa-angle-down.fa-lg
  
.administration-nav.sub-menu(collapse="configStateSideNavCtrl.isHeaderNavCollapsed")
  div(layout="column")
    md-button.sub-menu-item(ui-sref-active="state-active", ui-sref="authenticated.__APP_NAME_CAMEL_CASED__.config.header.somethings.somethingsList") Something
        
    md-divider
    
md-button(ui-sref-active="state-active", ui-sref="authenticated.core.activities.activitiesList") Exit Configuration

md-button(ng-click="configStateSideNavCtrl.showSomeUpsertModal($event)") Create Something