.forgot-password-form(layout="column", flex)
  div(layout="column", flex, ng-show="!forgotPasswordFormCtrl.isEmailSent")
    h2.forgot-password-heading(translate='FORGOT_PASSWORD_FORM.HEADING')
    p.forgot-password-msg(translate='FORGOT_PASSWORD_FORM.MSG')
    form(name="forgotPasswordForm", ng-submit="forgotPasswordFormCtrl.sendForgotPasswordEmail()", ng-model-options="{ updateOn: 'blur' }", novalidate)
      md-input-container(ng-class="{'has-error': validator.isFieldInvalid('email')}")
        label {{'EMAIL' | translate}}
        input.form-control(type="email", name="email", required, ng-model="forgotPasswordFormCtrl.formData.email", autofocus)
        .help-block(ng-show="validator.isFieldInvalid('email') && forgotPasswordForm.email.$error.email") Invalid email

      div(layout="row", layout-align="space-between center")
        md-button.forgot-password-btn.md-raised.md-primary(type="submit", flex) {{ 'FORGOT_PASSWORD_FORM.SEND_EMAIL' | translate }}

    .no-account-container(layout="column", flex, layout-align="end center")
      .text-separator
        span(translate="FORGOT_PASSWORD_FORM.NO_ACCOUNT_SEPARATOR_MSG")
        hr

      div(layout="row", layout-align="space-between center")
        md-button.go-to-register-btn.md-accent(flex, ui-sref="anonymous.accounts.register") {{ 'FORGOT_PASSWORD_FORM.CREATE_ACCOUNT' | translate }}

  div(layout="column", flex, ng-show="forgotPasswordFormCtrl.isEmailSent")
    .email-sent-msg(layout="column", flex, layout-align="center center")
      p(translate='FORGOT_PASSWORD_FORM.EMAIL_SENT_MSG', translate-values='forgotPasswordFormCtrl.formData')

    .email-sent-separator-container(layout="column", layout-align="end center")
      .text-separator
        span(translate="FORGOT_PASSWORD_FORM.EMAIL_SENT_SEPARATOR_MSG")
        hr

      div(layout="row", layout-align="space-between center")
        md-button.go-to-register-btn.md-accent(flex, ui-sref="anonymous.accounts.signIn") {{ 'FORGOT_PASSWORD_FORM.SIGN_IN' | translate }}
