@import "_mixins.scss";

$font-size-small: 12px;

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

body{
  // font-family: 'Open Sans' !important;
}

table{
  width: 100%;
  border: 1px solid #eee;
}
tr{
  border-top: 1px solid #ddd;
}

[ng-table-pagination]{
  margin: 8px 0;
}

.ng-table-pagination{
  margin: 0;
}

.info-group{}

.info-label{
  display: inline;
  font-weight: bold;
  margin-right: 8px;
}

.info-value{
  display: inline-block;
}

body {
  background-color: #FFF;
}

.form-row{
  box-pack: justify;
  justify-content: space-between;
  display: flex;
}

.form-group{
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
}

.table-scrollable {
  table {
    display: block;
    overflow: auto;
  }
}

.input-addon{
  display: flex;
}
.input-addon-field{
  flex: 1;
}

/* common flex styles for material directives */
.grow-to-fill {
  flex: auto;
  width:400px;
}

.text-separator{
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
  margin-top: 8px;
  font-size: $font-size-small;

  span{
    display: inline-block;
    padding: 8px;
    margin: 0;
    background-color: #fff;
  }

  hr{
    width: 90%;
    margin: -16px auto 10px auto;
    border-top: 1px solid #dce0e0;
  }
}
