@import "_variables-bootstrap.scss";

.select2-container {
  .select2-choice {
    background: none;
    // background-color: transparent;
    border: 0;
    padding: 0;
    .select2-arrow {
      // background: none;
      b {
        // background: none;
     
      }
    }
  }
}

.select2-drop {
  background: $overlay-bg-color;
}

.select2-search input.select2-active {
  background: $input-bg;
}