@import "_variables";

$mdTextColor: #FFF;

$mdPrimaryColor: #5677fc !default;
$mdPrimaryColorHue1: #d0d9ff !default;
$mdPrimaryColorHue2: #455ede !default;

$mdAccentColor: #7c4dff !default;
$mdAccentColorHue1: #b388ff !default;
$mdAccentColorHue2: #651fff !default;

$mdBlackAlpha1: rgba(0, 0, 0, .87) !default;
$mdBlackAlpha2: rgba(0, 0, 0, .54) !default;
$mdBlackAlpha3: rgba(0, 0, 0, .26) !default;
$mdBlackAlpha4: rgba(0, 0, 0, .12) !default;

$mdTextColor: $mdBlackAlpha1 !default;
$mdSecondaryTextColor: $mdBlackAlpha2 !default;
$mdHintText: $mdBlackAlpha3 !default;
$mdDividerColor: $mdBlackAlpha4 !default;