@import "_variables-base";

select, select.form-control{
  display: block;
  border-width: 0 0 1px 0;
  padding-top: 2px;
  line-height: 26px;
}

.md-bg-color-primary{
  background-color: $mdPrimaryColor;
  color: $mdTextColor;
}

.md-color-primary{
  color: $mdTextColor;
}

.md-bg-color-accent{
  background-color: $mdAccentColor;
  color: $mdTextColor;
}

.md-color-accent{
  color: $mdAccentColor;
}
md-button:not([disabled]):hover, md-button:not([disabled]).focus{
  background-color: inherit;
}
.md-divider-top{
  border-top: 1px solid $mdDividerColor;
}
.md-divider-bottom{
  border-bottom: 1px solid $mdDividerColor;
}

.md-dialog-container {
  // z-index: index($z-index-elements, md-dialog-container);
}

md-backdrop.md-dialog-backdrop {
  z-index: index($z-index-elements, md-backdrop);
}

md-sidenav {
  z-index: index($z-index-elements, md-sidenav);
}

.md-button.md-fab {
  z-index: index($z-index-elements, md-fab);
}