.reset-password-form(layout="column", flex)
  div(layout="column", flex, ng-show="!resetPasswordFormCtrl.isPasswordReset")
    //- h2.reset-password-heading(translate='RESET_PASSWORD_FORM.HEADING')
    p.reset-password-msg(translate='RESET_PASSWORD_FORM.MSG')
    form(name="resetPasswordForm", ng-submit="resetPasswordFormCtrl.resetPassword()", ng-model-options="{ updateOn: 'blur' }", novalidate)
      md-input-container(ng-class="{'has-error': validator.isFieldInvalid('password')}")
        label {{'RESET_PASSWORD_FORM.NEW_PASSWORD' | translate}}
        input.form-control(type="password", name="password", required, ng-model="registerFormCtrl.formData.password", ng-minlength="6")
        .help-block(ng-show="registerForm.password.$error.minlength && (registerForm.password.$dirty || registerForm.submitted)") password must be at least 6 characters long

      div(layout="row", layout-align="space-between center")
        md-button.reset-password-btn.md-raised.md-primary(type="submit", flex) {{ 'RESET_PASSWORD_FORM.RESET_PASSWORD' | translate }}

    .sign-in-separator-container(layout="column", flex, layout-align="end center")
      .text-separator
        span(translate="RESET_PASSWORD_FORM.SIGN_IN_SEPARATOR_MSG")
        hr

      div(layout="row", layout-align="space-between center")
        md-button.go-to-register-btn.md-accent(flex, ui-sref="anonymous.accounts.signIn") {{ 'RESET_PASSWORD_FORM.SIGN_IN' | translate }}
