$font-size-small: 12px;

.reset-password-form {
  .reset-password-heading{
    text-align: center;
    margin-bottom: 0;
  }

  .reset-password-msg{
    text-align: center;
  }

  .sign-in-separator-container{
    > div{
      width: 100%;
    }
  }
}
